Dear,

<p>We are excited to inform you that a new task has been successfully created.</p>

<p>Here are the task details:</p>

<p>Task Category: <%= @task.category.name %></p>
<p>Location: <%= @task.location %></p>
<p>Company: <%= @task.company %></p>
Best regards,
JobYatra,Team
