
-<h1>Welcome to my company, <%= @user.first_name %></h1>
<p>
  You have selected for this role ,
  your username is: <%= @user.last_name %>.<br>
</p>
<p>
  <%# To login to the site, just follow this link: <%= link_to 'login`, login_url '%>. %>
</p>
<p>Thanks for joining and have a great day!</p>