<h1>Application Status</h1>
<p>Dear <%= @user.full_name %>,</p> 
<p>Thank you for your interest.
<p>Unfortunately, we have decided to move forward with another candidate for this position.</p>
<p> We encourage you to apply for future opportunities that may align with your skills and experience.</p> 
<p>We wish you all the best in your career.</p>
<p>Best regards, JobYatra Team</p>