<div class="container mt-4">
  <div class="text-center">
    <h1 class="text-primary"> JobYatra <h1>
    <div class="mt-4 d-flex flex-column align-items-center">
    <% if current_user.profile.present? %>
        <% if can? :read, Profile %>
          <%= link_to "Profile", profile_path(current_user), class: "btn btn-outline-primary w-100 py-2 mb-3 fw-semibold shadow-sm rounded-pill" %>
        <%end%>
    <% else %>
        <% if can? :create, Profile %>
          <%= link_to "Create a Profile", new_profile_path, class: "btn btn-outline-primary w-100 py-2 mb-3 fw-semibold shadow-sm rounded-pill" %>
        <%end%>
    <% end %>
    <% if can? :read, Task %>
      <%= link_to " View All Tasks", contractor_tasks_path, class: "btn btn-outline-primary w-100 py-2 mb-3 shadow-sm" %>
    <% end %>
    <% if can? :create, Task %>
      <%= link_to " Create New Task", new_contractor_task_path, class: "btn btn-outline-success w-100 py-2 mb-3 shadow-sm" %>
    <% end %>
  </div>
</div>


<style>
  .btn {
    border-radius: 30px; 
    font-weight: 500; 
  }

  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: scale(1.02); 
  }

  h3 a {
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  h3 a:hover {
    color: #4B8F94; 
  }

  .container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
  }
</style>
